:root {
    --primary-color: #b8280f;
    --text-color: #333;
}

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.app {
    background-color: #cecece58;
    height: 2000px;
}

.header {
    background-color: var(--primary-color);
    padding: 15px 0;
    z-index: 999;
}

.logo-group__link {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.logo-group__img {
    width: 50px;
    height: 50px;
}

.logo-group__title {
    color: whitesmoke;
    font-weight: 500;
    font-size: 2.8rem;
    padding-left: 3px;
}

.input-group__search-input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-image: url(img/search-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 70px;
    font-size: 2rem;
}

.notify-link {
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    align-items: center;
    height: 100%;
}

.notify-icon {
    font-size: 2.2rem;
}

.notify-title {
    font-size: 1.4rem;
    padding-left: 6px;
    text-transform: uppercase;
}

.profile {}

.profile-link {
    display: flex;
    text-decoration: none;
    width: 50%;
    margin-left: 50%;
}

.profile-item {
    font-size: 4.5rem;
    color: white;
}

.category {
    background-color: #a81b02;
    padding: 15px 0;
}

.tournament {
    position: relative;
}

.tournament-more {
    display: flex;
    flex-direction: column;
    max-width: 8.33333%;
    align-items: center;
    width: 100%;
    margin: auto 0;
}

.tournament-more i {
    color: rgb(236, 236, 236);
    font-size: 2.2rem;
}

.tournament-more span {
    color: rgb(236, 236, 236);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.tournament-logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.tournament-name {
    font-size: 1.3rem;
    color: rgb(236, 236, 236);
    text-align: center;
    font-weight: 600;
}

.container {
    position: absolute;
    margin-top: 210px;
    width: 100%;
}

.top-leagues {
    background-color: white;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.top-leagues__title {
    padding: 20px;
    font-size: 1.6rem;
    font-weight: 600;
}

.top-leagues__item {
    padding: 5px 0;
}

.top-leagues__item:hover {
    background-color: #a81b020f;
}

.top-leagues__item {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.top-leagues__logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
    margin-right: 15px;
}

.top-leagues__item span {
    color: var(--text-color);
    font-size: 1.4rem;
}

.top-leagues .input-group__search-input {
    width: 88%;
    border: 1px solid #7f7f7f;
    border-radius: 5px;
    background-image: url(img/search-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 1.5rem;
    padding: 5px 0 5px 35px;
    margin-left: 5.5%;
    margin-bottom: 10px;
}

.schedule {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0 15px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.shedule-head {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.shedule-head__filter {
    border: 1px solid #dddfe3;
    border-radius: 20px;
    background-color: #f0f0f0;
}

.shedule-head__filter--all,
.shedule-head__filter--live,
.shedule-head__show-odd {
    padding: 6px 10px;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 20px;
}

.shedule-head__filter--all {
    color: #32bf4c;
    border: none;
}

.shedule-head__filter--live {
    color: #cd292a;
    border: none;
}

.shedule-head__filter--all.active {
    border: 2px solid #32bf4c;
}

.shedule-head__filter--live.active {
    border: 2px solid #cd292a;
}

.shedule-head__show-odd {
    border: 1px solid #b1b1b1;
    background-color: rgb(252, 252, 252);
}

.schedule-list {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 15px 0;
}

.schedule-list__title {
    font-size: 1.7rem;
    font-weight: 500;
    padding: 0 0 15px 15px;
}

.schedule-list__group {}

.schedule-list__nation {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.schedule-list__flag {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.schedule-list__name {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex: 1;
    border-right: 1.5px solid #d5d6da;
}

.schedule-list__name--nation {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    margin-bottom: 3px;
    width: 25%;
}

.schedule-list__name--league {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 500;
    width: 25%;
}

.schedule-list__name--nation:hover,
.schedule-list__name--league:hover {
    color: var(--primary-color);
}

.schedule-list__icon {
    margin-left: 15px;
    font-size: 1.8rem;
    color: var(--primary-color);
    cursor: pointer;
}

.schedule-list__icon:hover {
    color: #a81b027e;
}

.schedule-list__list {
    margin-top: 10px;
}

.schedule-list__item {
    display: flex;
    margin-top: 10px;
    align-items: center;
    padding: 0 15px;
}

.schedule-list__item:hover{
    background-color: #a81b020f;
}

.schedule-list__time {
    color: #a3a3a3;
    font-size: 1.2rem;
}

.schedule-list__team {
    flex: 1;
    border-right: 1.5px solid #d5d6da;
    margin-left: 20px;
    border-left: 1.5px solid #d5d6da;
    padding: 4px 0 4px 8px;
    cursor: pointer;
}

.schedule-list__team-1 {
    display: flex;
    align-items: center;
}

.schedule-list__team-1:first-child{
    margin-bottom: 3px;
}

.schedule-list__team-logo {
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1px;
    margin-right: 10px;
}

.schedule-list__team-name {
    font-size: 1.3rem;
}

.schedule-list__icon.fa-bell {
    margin-left: 12px;
}